* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*標籤的css設定*/
body{
	margin: 0 auto;
}
footer{
	position: fixed;
}
/*class的css設定*/


/*id的css設定*/
#screenshot-canvas{
	display:none;
	width:95%;
}