<!DOCTYPE html>
<html lang="en">
<head>
	{%block head%}
	
	{%endblock head%}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>

<style type="text/css">
	{%block css%}{%endblock css%}

	{%block bootstrap%}{%endblock bootstrap%}

	{%block queries%}{%endblock queries%}

	{%block animate%}{%endblock animate%}

	{%block flexslider%}{%endblock flexslider%}

	{%block FontAwesome%}{%endblock FontAwesome%}
</style>
{%block script%}{%endblock script%}

{%block scripts%}{%endblock scripts%}


{%block waypoints%}{%endblock waypoints%}

{%block overlay%}{%endblock overlay%}

{%block jqueryflexslider%}{%endblock jqueryflexslider%}

{%block BootstrapJS%}{%endblock BootstrapJS%}

{%block jquery%}{%endblock jquery%}

<body>

	{%block header%}{%endblock header%}
	
	{%block body%}{%endblock body%}

	{%block opencv%}{%endblock opencv%}

	{%block footer%}{%endblock footer%}

	
</body>

</html>