<!DOCTYPE html>
<html lang="en">
<head>
	{%block head%}
	
	{%endblock head%}
	
</head>

<style type="text/css">
	{%block css%}{%endblock css%}
</style>
{%block script%}{%endblock script%}

{%block scripts%}{%endblock scripts%}

{%block facebook%}{%endblock facebook%}
<body>

	{%block header%}{%endblock header%}
	
	{%block body%}
	<footer>
    	<div class="container">
      		<div class="row">
        		<div class="col-md-6 credit">
          			<a>&copy;  如有問題，請洽中原大學資管系。Copyright@2015   </a> <a href="http://www.im.cycu.edu.tw/">   CYCUIM   </a>
        		</div>
      		</div>
    	</div>
  	</footer>
	{%endblock body%}

	{%block edit%}
	<footer>
    	<div class="container">
      		<div class="row">
        		<div class="col-md-6 credit">
          			<a>&copy;  如有問題，請洽中原大學資管系。Copyright@2015   </a> <a href="http://www.im.cycu.edu.tw/">   CYCUIM   </a>
        		</div>
      		</div>
    	</div>
  	</footer>

	{%endblock edit%}

	{%block opencv%}{%endblock opencv%}

</body>

</html>