{% extends "templates/base.html" %}
{% block content %}
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ><a href="/">Solve</a></li>
              <li class="active"><a href="#">Gallery</a></li>
              <!-- <li><a href="#">Link</a></li> -->
            </ul>
<!--             <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default</a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul> -->
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

  <div class="content">
    <h2>OpenCV Example</h2>

    <p>some stuff...</p>

</div> <!-- end content -->

{% endblock %}
