{% extends "templates/base.html" %}
{% block content %}

      
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Capture and Solve</a></li>
              <li><a href="/upload">Upload and Solve</a></li>
              <li><a href="/db_con">databse test</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

  <div class="content">
    <h2>OpenCV Example</h2>
      <div class='select'>
        <label for='videoSource'>Video source:&nbsp;</label><select id='videoSource'></select>
      </div>

    <div class="abox">
      <p>Take a screenshot of a Sudoku puzzle:</p>
      <!--將表格傳送至=>/stage-->
      <form role="form" id="form1" action="/stage" enctype="multipart/form-data" method="post">

        <input type="hidden" name="sudoku" id="sudoku">
        <input type="hidden" name="is_video" id="is_video" value="yes">
        <!--執行拍照-->
        <button type="button" class="btn btn-primary" id="screenshot-button">Take!</button>
        <input type="submit" class="btn btn-primary" value="Solve" id="solve">
        <button type="button" class="btn btn-primary" name="showvid-button"id="showvid-button">Again!</button>
      </form> <br/>
      <div class="row">
        <div class="col-md-5">
          <!--螢幕的即時呈現-->
          <video id="screenshot-stream" style="width:95%;" autoplay></video>
          <img style="display:none;width:95%;" id="puzzleres" src="" alt="solved Sudoku image" />
        </div>
        <div class="col-md-5">
          <!--拍照後圖片呈現-->
          <img id="screenshot" style="width:95%;" src="">
          <canvas id="screenshot-canvas" style="width:95%;display:none;"></canvas>
        </div>
        </div>
        <div class="row">
        <div class="col-md-5">
          <img style="display:none;width:95%;" id="puzzleres" src="" alt="solved Sudoku image" />
        </div>
      </div>
    </div>

</div> <!-- end content -->
{% endblock %}
