{%extends "templates/styles.html"%}
{%block script%}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!-- 最後編譯與最小化JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://sites.google.com/site/cycufindyourmemory/config/pagetemplates/js/modernizr.js"></script>
    <script src="https://sites.google.com/site/cycufindyourmemory/config/pagetemplates/js/waypoints.min.js"></script>
    <script src="https://sites.google.com/site/cycufindyourmemory/config/pagetemplates/js/jquery.flexslider.js"></script>
    <script>
//FaceBook API jQuery
       window.fbAsyncInit = function() {
    FB.init({
      appId      : '818779268172286',
      xfbml      : true,
      version    : 'v2.2'
    });

    // ADD ADDITIONAL FACEBOOK CODE HERE
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
      //FaceBook API jQuery end
      //FB initial
      function onLogin(response) {
  if (response.status == 'connected') {
    FB.api('/me?fields=first_name', function(data) {
      var welcomeBlock = document.getElementById('fb-welcome');
      welcomeBlock.innerHTML = 'Hello, ' + data.first_name + '!';
    });
  }
}

FB.getLoginStatus(function(response) {
  // Check login status on load, and if the user is
  // already logged in, go directly to the welcome message.
  if (response.status == 'connected') {
    onLogin(response);
  } else {
    // Otherwise, show Login dialog first.
    FB.login(function(response) {
      onLogin(response);
    }, {scope: 'user_friends, email'});
  }
});
//FB initial end
//FB Login
function parse_signed_request($signed_request) {
  list($encoded_sig, $payload) = explode('.', $signed_request, 2); 

  $secret = "appsecret"; // Use your app secret here

  // decode the data
  $sig = base64_url_decode($encoded_sig);
  $data = json_decode(base64_url_decode($payload), true);

  // confirm the signature
  $expected_sig = hash_hmac('sha256', $payload, $secret, $raw = true);
  if ($sig !== $expected_sig) {
    error_log('Bad Signed JSON signature!');
    return null;
  }

  return $data;
}

function base64_url_decode($input) {
  return base64_decode(strtr($input, '-_', '+/'));
}
    /*function login_success(uid){
      /*var body = '測試一下測試一下測試一下測試一下';
      FB.api('/me/feed', 'post', { message: body }, function(response) {
        if (!response || response.error) {
          alert('Error occured');
        } else {
          alert('Post ID: ' + response.id);
        }
      });
      FB.ui(
        {
          method: 'feed',
          name: 'Facebook Dialogs',
          link: 'http://www.suncolor.com.tw',
          picture: 'http://fbrell.com/f8.jpg',
          caption: '測試一下',
          description: '測試兩下測試兩下測試兩下'
        },
        function(response) {
          if (response && response.post_id) {
            alert('Post was published.');
          } else {
            alert('Post was not published.');
          }
        }
      );
    }
    //FaceBook移除貼文
    function deleteWall(id) {
      FB.api(id, 'delete', function(response) {
        if (!response || response.error) {
            document.getElementById('msg').innerHTML = '刪除訊息ID: ' + id + ' 時發生錯誤。' + response.error.message;
            $('#msg').slideDown();
        } else {
            document.getElementById('msg').innerHTML = '訊息ID: ' + id + ' 已刪除';
            $('#msg').slideDown();
        }
    });
    //完整發佈至塗鴉牆
    function postToWall(id) {
      var args = {
        method: 'feed',
        name: 'Name : Facebook App',
        message: 'Message : Facebook Post Test',
        link: 'https://developers.facebook.com/docs/reference/dialogs/',
        picture: 'http://www.fbrell.com/f8.jpg',
        caption: 'Caption : Facebook Post Test',
        description: 'Description : Facebook Post Test'
      };
      FB.api('/' + id + '/feed', 'post', args, onPostToWallCompleted);
      document.getElementById('msg').innerHTML = "waiting...";
    }
    function onPostToWallCompleted(response) {
      if (!response || response.error) {
        document.getElementById('msg').innerHTML = 'Error occured: ' + response.error.message;
        $('#msg').slideDown();
      } else {
        document.getElementById('msg').innerHTML = "發佈成功，訊息ID:" + response.id + "。<a href='javascript:deleteWall(response.id="">刪除此訊息</a>)'"
        $('#msg').slideDown();
      }
    }*/
</script>
{%endblock script%}
