<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--IE兼容-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>中原大學六十週年校慶</title>

    <link rel="styleesheet" href="../css/index.css">
    <!-- 最後編譯與最小化CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- 選擇項主題樣式 -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!-- 最後編譯與最小化JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--拍照的javascript-->
    <script>
    //Take!按鈕的執行函數
  $("#screenshot-button").click(function(){
    $(this).prop("disabled",true);

  });
//Again!按鈕的執行函數
  $("#showvid-button").click(function(){
    $('#puzzleres').hide();
    $("#screenshot-button").prop("disabled",false);
    $('#screenshot-stream').show();
  });

 $("#form1").submit(function(){
    $('#screenshot-stream').hide();

    var formData = new FormData($(this)[0]);
    $.ajax({
      url:$(this).attr("action"),
      //要接收的網址
      type: 'POST',
      //傳輸方式
      data: formData,
      //資料內容
      async: false,
      //同步
      success: function (data) {
        console.log(data);
        var solved_url = data.solved_url;
      
        if (solved_url) {
        // check for results to show up
          setTimeout(function show_results() {
            console.log("in setTimeout, checking " + solved_url);
            var img = new Image();
            //圖片來源設定
            img.onload = function() {
              $('#puzzleres').attr('src', solved_url);
              $('#puzzleres').show();
              $("#showvid-button").prop("disabled",false);
            };
            img.onerror = function() {
              setTimeout(show_results, 200);
            }
            img.src = solved_url;
          }, 200);
        }
      },
      cache: false,
      contentType: false,
      processData: false
    });
    return false;
});
//錯誤回傳
function errorCallback(e) {
  console.log(e);
  if (e.code == 1) {
    alert('User denied access to their camera');
  } else {
    alert('getUserMedia() not supported in your browser.');
  }
}

var custom_pic = document.querySelector('#custom_pic');
var videoElement = document.querySelector('#screenshot-stream');
var button = document.querySelector('#screenshot-start-stop');
var screenshot_button = document.querySelector('#screenshot-button');
var canvas = document.querySelector('#screenshot-canvas');
var img = document.querySelector('#screenshot');
var ctx = canvas.getContext('2d');
var localMediaStream = null;

var videoSelect = document.querySelector("select#videoSource");

//設定呈現大小
function sizeCanvas() {
  // video.onloadedmetadata not firing in Chrome so we have to hack.
  // See crbug.com/110938.
  setTimeout(function() {
    canvas.width = videoElement.videoWidth;
    canvas.height = videoElement.videoHeight;
    img.height = videoElement.offsetHeight;
    img.width = videoElement.offsetWidth;
  }, 1000);
}


function snapshot() {
  console.log("in snapshot");
  var canvas = document.createElement('canvas');
  var ctx = canvas.getContext('2d');
  // make canvas size equal to the video source
  canvas.width = videoElement.videoWidth;
  canvas.height = videoElement.videoHeight;
  // for some reason img height is smaller than the video
  // but I think it's unrelated problem. this adjustment is
  // only for a visual aspect as the canvas data URL won't change.
  img.height = videoElement.offsetHeight;
  img.width = videoElement.offsetWidth;
  ctx.drawImage(videoElement, 0, 0);
  img.src = custom_pic.value = canvas.toDataURL('image/png');
}

screenshot_button.addEventListener('click', function(e) {
  if (localMediaStream) {
    $('#puzzleres').hide();
    snapshot();

    return;
  }
}, false);

navigator.getUserMedia = navigator.getUserMedia ||
  navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

function gotSources(sourceInfos) {
  for (var i = 0; i != sourceInfos.length; ++i) {
    var sourceInfo = sourceInfos[i];
    var option = document.createElement("option");
    option.value = sourceInfo.id;
    if (sourceInfo.kind === 'audio') {
    }
    else if (sourceInfo.kind === 'video') {
      option.text = sourceInfo.label || 'camera ' + (videoSelect.length + 1);
      videoSelect.appendChild(option);
    } else {
      console.log('Some other kind of source: ', sourceInfo);
    }
  }
}

if (typeof MediaStreamTrack === 'undefined'){
  alert('This browser does not support MediaStreamTrack.');
} else {
  MediaStreamTrack.getSources(gotSources);
}


function successCallback(stream) {
  window.stream = stream; // make stream available to console
  videoElement.src = window.URL.createObjectURL(stream);
  localMediaStream = stream;
  sizeCanvas();
  videoElement.play();
}

//錯誤回傳
function errorCallback(error){
  console.log("navigator.getUserMedia error: ", error);
}

//開始函數
function start(){
  if (!!window.stream) {
    videoElement.src = null;
    window.stream.stop();
  }
  var videoSource = videoSelect.value;
  var constraints = {
    video: {
      optional: [{sourceId: videoSource}]
    }
  };
  navigator.getUserMedia(constraints, successCallback, errorCallback);
}

videoSelect.onchange = start;

start();

    </script>

    <!-- Bootstrap core CSS -->
    <!--<link href="../css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <!--<link href="jumbotron.css" rel="stylesheet">-->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">回憶中原，回到中原</a>
        </div>
        <!--<div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>--><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <!--<div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">-->
      <!-- Example row of columns -->
      <!--<div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>-->

      <div class="content">
        <h2>OpenCV Example</h2>
        <div class='select'>
          <label for='videoSource'>Video source:&nbsp;</label><select id='videoSource'></select>
        </div>

        <div class="abox">
          <p>Take a screenshot of a custom_pic puzzle:</p>
          <!--將表格傳送至=>/stage-->
          <form role="form" id="form1" action="/stage" enctype="multipart/form-data" method="post">

            <input type="hidden" name="custom_pic" id="custom_pic">
            <input type="hidden" name="is_video" id="is_video" value="yes">
            <!--執行拍照-->
            <button type="button" class="btn btn-primary" id="screenshot-button">Take!</button>
            <input type="submit" class="btn btn-primary" value="確定" id="solve">
            <button type="button" class="btn btn-primary" name="showvid-button"id="showvid-button">Again!</button>
          </form> <br/>
          <div class="row">
            <div class="col-md-5">
              <!--螢幕的即時呈現-->
              <video id="screenshot-stream" style="width:95%;" autoplay></video>
              <img style="display:none;width:95%;" id="puzzleres" src="" alt="solved custom_pic image" />
            </div>
          <div class="col-md-5">
            <!--拍照後圖片呈現-->
            <img id="screenshot" style="width:95%;" src="">
            <canvas id="screenshot-canvas" style="width:95%;display:none;"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img style="display:none;width:95%;" id="puzzleres" src="" alt="solved custom_pic image" />
          </div>
        </div>
    </div><!-- /container -->

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
 
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>

