{%%}
{%%}
<script>
//控制按鈕的顯示方式
      $(document).ready(function(){
        $("#screenshot-button").click(function(){
          $("#videoscreen").hide();
          $("#screenshot").show();
        });
        $("#showvid-button").click(function(){
          $("#videoscreen").show();
          $("#screenshot").show();
        })
      });
      //Again!按鈕的執行函數
        $("#showvid-button").click(
          function(){
            $("#screenshot-button").prop("disabled",false);
          });
</script>        